.navbar {
    background-color: #00008B;
    margin: 0%;
    padding: 1%;
    text-align: center;
}

.title1 {
    font-family: 'sans-serif';
}

.stockchart {
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}