<!-- CSS Bootstrap Import -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


<html>
<head>
    <title>{{ title }}</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">Welcome</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">PlotlyTest <span class="sr-only">(current)</span></a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="text-center container">
            <br>
            <h2 class="text-center">Search Ticker</h2>
            <br>
            <form method="GET">
                <input type="text" name="Ticker" placeholder="Search..." class="text-center">
                <button type="submit" class="btn-danger btn-sm">Search Ticker</button>
            </form>
        </div>
        <br><br>

        {% autoescape off %}
        {{ plot_div }}
        {% endautoescape %}
    </div>

</body>
</html>
